html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, ol, ul, li, article,aside, figcaption, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lora', serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #565656;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
}
ol, ul {
    list-style: none; 
}
a {
    text-decoration: none; 
}

/*Main Header - Fixed*/
.logo {
    width: 7%;
    height: 60%;
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
}
.home {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
     position: absolute;
    top: 20px;
    left: 80px;
    display: none;
}
#main-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); 
}
#main-header ul {
    text-align: center;
    line-height: 50px; 
}
#main-header ul > li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px; 
    font-weight: 400;
}
.header a,
.underline a {
    margin: 0 20px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    position: relative; 
}
#main-header ul > li > span.underline a {
    border-bottom: 1px solid #ffffff; 
}

/*Main Navigation on the left*/
#main-nav {
    position: fixed;
    top: 60%;
    left: 20px;
    margin-top: -77px;
    z-index: 20; 
}
#main-nav li {
    height: 11px;
    width: 11px;
    padding: 10px;
    cursor: pointer;
    position: relative;
}
#main-nav li p {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 24px;
    height: 24px;
    padding: 0 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
    background: #434343;
    white-space: nowrap;
    position: absolute;
    left: 31px;
    top: 4px; 
}
#main-nav li p a {
    color: #ffffff;
}
#main-nav li span {
    display: block;
    height: 10px;
     width: 10px;
     border: 1px solid #b0b0b0;
     position: relative;
     -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
     -khtml-border-radius: 100%;
     border-radius: 100%; 
}
#main-nav li i {
    display: block;
    height: 12px;
    width: 12px;
    position: absolute;
    top: -1px;
    left: -1px;
    background: #434343;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -khtml-border-radius: 100%;
    border-radius: 100%; 
}
#main-nav i {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
#main-nav p {
    opacity: 0; 
}
#main-nav p, #main-nav i {
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; 
}
#main-nav li:hover i, #main-nav li.active i {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
}
#main-nav li:hover p {
    opacity: 1; 
}

/*Section 01 - LandingPage*/
.section {
    position: relative; 
    text-align: center;
    padding: 125px 0; 
}
.one {
    background: url(../img/aa-bg01.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 740px;
    border-bottom: 2px solid rgba(0,0,0,0.8);
}
h1 {
    color: #ffffff;
    font-weight: 300;
    font-size: 2.8em;
    padding-left: 2em;
    padding-top: 10.8em;
    text-align: left;
}
/*News & Updates*/
#news {
    font-size: 1.1em;
    color: #ffffff;
    z-index: 5;
    padding: 1.2em;
    border-left: 4px solid #ffffff;
    width: 80%;
    text-align: left;
    position: absolute;
    bottom: 1.2em;
  /*display: none;*/
}
.highlight {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: #c0a066;
}

/*Section 02 - Mission*/
.text {
    line-height: 1.5;
    color: #c0a066;
    letter-spacing: 1px; 
    width: 520px;
    margin: 0 auto; 
}
.about {
    background: #000;
}
h2 {
    color: #ffffff;
    margin-bottom: 50px; 
    font-weight: 300;
    font-size: 3em;
    letter-spacing: 1.5px;
    text-align: center;
}

/*Section 03 - Services*/
.three {
    background-color: #ffffff;
}
.three h2 {
    color: #565656;
}
.three p.text {
    color: #565656;
    text-align: left;
    padding-bottom: 6em;
}
.types {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-weight: 300;
    width: 900px;
    height: 500px;
    margin: auto;
}
.types li {
    margin: auto 0;
    margin: 0 0.5em;
    text-align: center;
    display: inline-block;
    width: 250px;
    height: 500px;
    background-color: #000;
    cursor: pointer;
    -moz-box-shadow: 5px 5px 6px #ccc;
    -webkit-box-shadow: 5px 5px 6px #ccc;
    box-shadow: 5px 5px 6px #ccc;
}
.commission {
    background: url(../img/comission01.jpg) center top no-repeat;
}
.original {
    background: url(../img/currentwork.jpg) center top no-repeat;
}
.prints {
    background: url(../img/comission03.png) center top no-repeat;
}
.button {
    position: relative;
    top: 25.4em;
    border: 1px solid #ffffff;
    z-index: 5;
    max-width: 190px;
    height: 50px;
    margin: auto;
}
.button a {
    color: #ffffff;
    letter-spacing: 0.08em;
    text-align: center;
    position: relative;
    bottom: -1em;
}
.button:hover {
    background: rgba(192,160,102,0.5);
}

/*Section 04 - Artist*/
.four {
    background: url(../img/artist01.jpg) center top no-repeat;
    min-height: 740px;
}
.artist {
    color: #000;
}
.wasel-quote {
    width: 64%;
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.8;
    margin: auto;
    text-align: left;
    position: relative;
    top: 4em;
    padding: 2em 2em;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
a.profile {
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 25%;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    padding: 10px 20px;
}
.profile:hover {
    background-color: #ffffff;
    color: #000;
}
.q-name {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}
.bio {
     font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
    padding: 2.5em 0;
}

/*Section 05- Contact*/
.five,
.contact-us {
    background-color: #f4f4f4;
    color: #565656;
}
.five p {
    font-size: 0.8em;
    width: 580px;
    padding-bottom: 2em;
}
.contact-info li {
    display: inline-block;
    height: 30px;
    padding: 0 5px;
}
#twitter, 
#facebook,
#instagram,
#email {
    color: #565656;
}
#twitter:hover,
#facebook:hover,
#instagram:hover,
#email:hover {
    color: #c0a066;
}
em {
    font-weight: bold;
}
/*Footer*/
footer p {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    height: 20px; 
    padding: 20px 20px;
}
footer p a {
    color: #565656;
}
footer p a:hover {
    color: #fb1d06;
}

