html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, ol, ul, li, article,aside, figcaption, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
  }
  html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lora', serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #565656;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
}
ol, ul {
    list-style: none; 
}
a {
    text-decoration: none; 
}

/*Main Header - Fixed*/
.logo {
  width: 7%;
  height: 60%;
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
}
.home {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
     position: absolute;
    top: 20px;
    left: 80px;
    display: none;
}
#main-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); 
}
#main-header ul {
    text-align: center;
    line-height: 50px; 
}
#main-header ul > li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px; 
    font-weight: 400;
}
.header a,
.underline a {
    margin: 0 20px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    position: relative; 
}
#main-header ul > li > span.underline a {
    border-bottom: 1px solid #ffffff; 
}

/*Section 01 - LandingPage*/
.section {
    position: relative; 
    text-align: center;
    padding: 125px 0; 
}
.one {
    background: url(../img/aa-bg01.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 740px;
}
h1 {
    color: #ffffff;
    font-weight: 300;
    font-size: 2.8em;
    padding-left: 2em;
    padding-top: 10.8em;
    text-align: left;
}