html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, ol, ul, li, article,aside, figcaption, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lora', serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #565656;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
}
ol, ul {
    list-style: none; 
}
a {
    text-decoration: none; 
}

/*Main Header - Fixed*/
.logo {
    width: 7%;
    height: 60%;
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
}
.home {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    position: absolute;
    top: 22px;
    left: 85px;
    display: none;
}
#main-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); 
}
#main-header ul {
    text-align: center;
    line-height: 50px; 
}
#main-header ul > li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px; 
    font-weight: 400;
}
.header a,
.underline a {
    margin: 0 20px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    position: relative; 
}
#main-header ul > li > span.underline a {
    border-bottom: 1px solid #ffffff; 
}
.header a:active,
.underline a:active {
    color: #c0a066;
}
/*Main Navigation on the left*/
#main-nav {
    position: fixed;
    top: 60%;
    left: 20px;
    margin-top: -77px;
    z-index: 20; 
}
#main-nav li {
    height: 11px;
    width: 11px;
    padding: 10px;
    cursor: pointer;
    position: relative;
}
#main-nav li p {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 24px;
    height: 24px;
    padding: 0 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 100px;
    background: #434343;
    white-space: nowrap;
    position: absolute;
    left: 31px;
    top: 4px; 
}
#main-nav li p a {
    color: #ffffff;
}
#main-nav li span {
    display: block;
    height: 10px;
     width: 10px;
     border: 1px solid #b0b0b0;
     position: relative;
     -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
     -khtml-border-radius: 100%;
     border-radius: 100%; 
}
#main-nav li i {
    display: block;
    height: 12px;
    width: 12px;
    position: absolute;
    top: -1px;
    left: -1px;
    background: #434343;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -khtml-border-radius: 100%;
    border-radius: 100%; 
}
#main-nav i {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
#main-nav p {
    opacity: 0; 
}
#main-nav p, #main-nav i {
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; 
}
#main-nav li:hover i, #main-nav li.active i {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
}
#main-nav li:hover p {
    opacity: 1; 
}

/*Section 01 - LandingPage*/
.section {
    position: relative; 
    text-align: left;
    padding: 125px 0; 
}
.one {
    background: url(../img/aa-bg01.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 740px;
    border-bottom: 2px solid rgba(0,0,0,0.8);
}
h1 {
    color: #ffffff;
    font-weight: 300;
    font-size: 2.8em;
    padding-left: 2em;
    padding-top: 10.8em;
    text-align: left;
}
/*News & Updates*/
#news {
    font-size: 1.1em;
    color: #ffffff;
    z-index: 5;
    padding: 1.2em;
    border-left: 4px solid #ffffff;
    width: 80%;
    text-align: left;
    position: absolute;
    bottom: 1.2em;
  /*display: none;*/
}
.highlight {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: #c0a066;
}

/*Section 02 - Mission*/
.text {
    font-size: 17px;
    line-height: 1.5;
    color: #c0a066;
    letter-spacing: 1px; 
    width: 520px;
    margin: 0 auto; 
}
.about {
    background: #000;
}
h2 {
    color: #ffffff;
    margin-bottom: 50px; 
    font-weight: 300;
    font-size: 3em;
    letter-spacing: 1.5px;
    text-align: center;
}

/*Section 03 - Services*/
.three {
    background-color: #ffffff;
}
.three h2 {
    color: #565656;
}
.three p.text {
    color: #565656;
    text-align: left;
    padding-bottom: 6em;
}
.types {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-weight: 300;
    height: 500px;
    width: 850px;
    margin: auto;
}
.types li {
    margin: 0 0.5em;
    text-align: center;
    display: inline-block;
    width: 250px;
    height: 500px;
    background-color: #000;
    cursor: pointer;
    -moz-box-shadow: 5px 5px 6px #ccc;
    -webkit-box-shadow: 5px 5px 6px #ccc;
    box-shadow: 5px 5px 6px #ccc;
}
.commission {
    background: url(../img/comission01.jpg) center top no-repeat;
}
.original {
    background: url(../img/currentwork.jpg) center top no-repeat;
}
.prints {
    background: url(../img/comission03.png) center top no-repeat;
}
.button {
    position: relative;
    top: 25.4em;
    border: 1px solid #ffffff;
    z-index: 5;
    max-width: 190px;
    height: 50px;
    margin: auto;
}
.button a {
    color: #ffffff;
    letter-spacing: 0.08em;
    text-align: center;
    position: relative;
    bottom: -1em;
}
.button:hover {
    background: rgba(192,160,102,0.5);
}
.types-mobile {
    display: none;
}

/*Section 04 - Artist*/
.four {
    background: url(../img/artist01.jpg) center top no-repeat;
    min-height: 740px;
}
.artist {
    color: #000;
}
.wasel-quote {
    width: 64%;
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.8;
    margin: auto;
    text-align: left;
    position: relative;
    top: 4em;
    padding: 2em 2em;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
a.profile {
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 25%;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    padding: 10px 20px;
}
.profile:hover {
    background-color: #ffffff;
    color: #000;
}
.q-name {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}
.bio {
     font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    padding: 2.5em 0;
}

/*Section 05- Contact*/
.five,
.contact-us {
    background-color: #f4f4f4;
    color: #565656;
}
#contact {
    padding-bottom: 0;
}
.five p {
    font-size: 0.8em;
    width: 580px;
    padding-bottom: 2em;
}
.contact-info {
    width: 580px;
    margin: auto;
    text-align: center;
}
.contact-info li {
    display: inline-block;
    height: 30px;
    padding: 0 5px;
}
#twitter, 
#facebook,
#instagram,
#email {
    color: #565656;
}
#twitter:hover,
#facebook:hover,
#instagram:hover,
#email:hover {
    color: #c0a066;
}
em {
    font-weight: bold;
}
/*Footer*/
footer p {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    height: 20px; 
    padding: 20px 20px;
}
footer p a {
    color: #565656;
}
footer p a:hover {
    color: #c0a066;
}

/*Artist Page*/
/*Section One - Landing*/
.artist-landingpage {
    background: url(../img/wasel01.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.8);
}
h1 {
    font-size: 3em;
    padding-left: 3.4em;
    line-height: 2;
}
.small-quote {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    position: relative;
    bottom: -4em;
    left: 10em;
    background-color: #000;
    width: 640px;
    height: 100px;
    color: #c0a066;
    padding: 1.1em;
}
/*.emphasis {
    color: #c0a066;
}*/
/*Section Two - Q &A*/
#conversation {
    background-color: #ffffff;
}
.sub-title {
    color: #565656;
}
.writer,
.years {
    margin: auto;
    text-align: left;
    width: 600px;
    padding: 1.5em 0;
}
.years {
    color: #000;
}
#conversation .text {
    color: #565656;
    margin: auto;
    text-align: left;
    width: 600px;
}
/*Section Three - Exhibitions & Projects*/
#exhibitions {
    background-color: #000;
}
#exhibitions .sub-title {
    color: #c0a066;
}
#exhibitions .years {
    color: #ffffff;
}
#exhibitions .special {
    color: #c0a066;
}
#exhibitions .exhibition-list {
    background-color: #000;
    border: 1px solid rgba(192,160,102,0.7);
    color: #a6a5a5;
}

/*Section Four - Artist Residencies*/
#residency {
     background: url(../img/czech01.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#residency .sub-title {
    color: #000;
}
.date {
    padding: 1.5;
}
.locate {
    font-size: 12px;
    text-align: left;
    padding: 1.5em;
}
.journey {
    font-family: 'Lora', serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    text-align: left;
    text-transform: none;
    padding: 1.5em;
}
.special,
strong {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    z-index: 3;
}

/*Section Five - Media and Publication*/
.exhibition-list {
    background-color: #ffffff;
    margin: auto;
    text-align: left;
    width: 600px;
    padding: 2em;
    line-height: 1.5;
    font-size: 0.8em;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #413428;
}
.bbc {
    font-weight: 700;
}
#media {
    background-color: #ffffff;
}
.press-contact {
    padding-bottom: 6.5em;
    text-align: center;
}
#media-list {
    width: 670px;
    margin: auto;
    overflow: hidden;
    padding-top: 3em;
}
#media-list li {
    display: inline;
    padding: 2em;
}
.media-row01 {
    width: 670px;
    height: 150px;
}
.media-container01,
.media-container02 {
    width:310px;
    height: 150px;
    border: 1px solid #ccc;
    padding: 2px;
}
.media-container01 {
    float: left;
}
.media-container02 {
    float: right;
}
.media-image {
    z-index: 3;
    width: 150px;
    height: 150px;
    float: left;
}
.media-link {
    z-index: 3;
    width: 150px;
    height: 150px;
    float: right;
    cursor: pointer;
}
.media-link a, 
.media-link .special {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    font-weight: 300;
}
.media-link p {
    padding: 10px;
    font-size: 14px;
}
#gulfnews {
    background: url(../img/gulfnews.png) center center no-repeat;
}
#bsak {
    background: url(../img/bsak.png) center center no-repeat;
}
#nyu {
    background: url(../img/nyu-visit.png) center center no-repeat;
}
#bazzar-mag {
    background: url(../img/k-mag.png) center center no-repeat;
}
#frenchartfest-01 {
    background: url(../img/frenchartfest01.png) center center no-repeat;
}
#frenchartfest-02 {
    background: url(../img/frenchartfest02.png) center center no-repeat;
}
#f1-press {
    background: url(../img/f1-gulfnew.png) center center no-repeat;
}
#bbcpress {
    background: url(../img/bbcpress.png) center center no-repeat;
}
#foodforthought {
    background: url(../img/foodforthought.png) center center no-repeat;
}
#khaleej {
    background: url(../img/khaleej.png) center center no-repeat;
}
#smaltart {
    background: url(../img/smalt.png) center center no-repeat;
}
#artparis {
    background: url(../img/artistdinner.png) center center no-repeat;
}
#burj {
    background: url(../img/burj.png) center center no-repeat;
}
#formula {
    background: url(../img/formula.png) center center no-repeat;
}
/*#formulaf1 {
    background: url(../img/formula02.png) center center no-repeat;
}*/
#bazzar-mag-link,
#gulfnews-link,
#foodforthought-link,
#khaleej-link,
#smaltart-link,
#burj-link,
#formula-link {
    background-color: #c0a066;
}
#bsak-link,
#nyu-link,
#frenchartfest-01-link,
#frenchartfest-02-link,
#bbcpress-link,
/*#formulaf1-link */
#f1-press-link ,
#artparis-link {
    background-color: #000;
}
#bsak-link a,
#bsak-link .special,
#nyu-link a,
#nyu-link .special,
#frenchartfest-01-link a,
#frenchartfest-01-link .special,
#frenchartfest-02-link a,
#frenchartfest-02-link .special,
#bbcpress-link a,
#bbcpress-link .special,
#f1-press-link a,
#f1-press-link .special,
#artparis-link a,
#artparis-link .special
/*#formulaf1-link a,
#formulaf1-link .special*/ {
    color: #c0a066;
}
#bsak-link:hover,
#nyu-link:hover,
#frenchartfest-01-link:hover,
#frenchartfest-02-link:hover,
#f1-press-link:hover,
#bbcpress-link:hover,
#artparis-link:hover
/*#formulaf1-link:hover*/ {
    background-color: #ffffff;
}
#gulfnews-link a,
#gulfnews-link .special,
#bazzar-mag-link a,
#bazzar-mag-link .special,
#foodforthought-link a,
#foodforthought-link .special,
#khaleej-link a,
#khaleej-link .special,
#smaltart-link a,
#smaltart-link .special,
#burj-link a,
#burj-link .special,
#formula-link a,
#formula-link .special{
    color: #000;
}
#gulfnews-link:hover,
#bazzar-mag-link:hover,
#foodforthought-link:hover,
#khaleej-link:hover,
#smaltart-link:hover,
#burj-link:hover,
#formula-link:hover {
    background-color: #ffffff;
}
.videos h3 {
    text-align: center;
    padding-bottom: 1.1em;
}
.videos {
    height: 100%;
    padding-bottom: 3em;
}
.vimeo {
    margin: auto;
}
iframe {
    margin: 2em auto
}
.media-brands,
.company-logos {
    width: 100%;
    margin: auto;
    background:#ffffff;
    border-top: 2px solid #696969;
    border-bottom: 2px solid #696969;
}
.company-logos {
    padding: 2em 0;
}
.brand-icons li,
.logo-icons li {
    display: inline;
    padding: 10px;
}
.company-logos ul {
    margin: auto;
    max-width: 900px;
}
.bbcnews {
    color: #c72c28;
}
/*Section Six - Artist Lectures*/
#lectures {
     background: url(../img/lecture01.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.schools {
    text-indent: 3em;
}
/*Section Seven - Artist Contact*/
#contact .text {
    color: #565656;
    width: 520px;
    text-align: center;
}
/*Project Page*/
/*Section One - Commission Summary*/
.commission-s1 {
    background-color: #ffffff;
}
.commission-s1 h2,
.commission-s1 p {
    color: #696969;
}
.commission-s1 h2 {
    padding-top: 3em;
}
.commission-s1 p {
    padding-bottom: 3em;
}

/*Section Two - Commission Project01*/

.reference {
    overflow: hidden;
    width: 540px;
    background-color: rgba(0,0,0, 0.05);
    height: 4em;
    margin: auto;
    padding: 10px 0;
    border: 1px solid #696969;
    margin-bottom: 2em;
    z-index: 5;
}
.ref01,
.ref02 {
    text-align: center;
    padding: 5px 0;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
     color: #000;
}
#sixtysix {
  background: url(../img/aa-bg02.jpg) center top no-repeat;
/*  min-height: 820px;*/
  width: 100%;
}
.proj-info {
  margin: auto;
  background-color: rgba(255,255,255,0.2);
  width: 520px;
  color: #000;
  z-index: 5;
}
.project-title {
  padding-top: 2em;
  padding-bottom: 0.9em;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 2.5em;
}
.client {
  font-size: 12px;
  text-align: center;
  padding: 0.8em 0;
  color: #565656;
  background-color: rgba(255,255,255,0.5)
}
.client_site {
  color: #000;
}
.org {
  color: #000;
}
.sixtysix-description {
  margin: 2em auto;
  background-color: rgba(225,225,225,0.7);
  width: 482px;
  color: #000;
  padding: 1.2em;
}
h4 {
  font-size: 14px;
  padding: 1em 0;
}
.sixtysix-description p.text {
  width: 482px;
  color: #000;
  font-size: 14px;

}
.special-news {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}


/*Section Three - Commission Project02*/
#womad {
  background: url(../img/womad.jpg) center top no-repeat;
  width: 100%;
}
#womad .final {
    padding-bottom: 0;
    padding-top: 4em;
}
/*Section Seven - Commission Project06*/
#burj-k {
  background: url(../img/burj_khalifa.jpg) center top no-repeat;
  width: 100%;
}
#burj-k .proj-info,
 #yas .proj-info,
 #nissan .proj-info,
 #f1 .proj-info {
  background-color: rgba(0,0,0,0.4);
}
#burj-k .client,
 #yas .client,
 #nissan .client,
 #f1 .client {
    background-color: rgba(255,255,255,0.6)
}
#yas {
    background: url(../img/yas01.jpg) center top no-repeat;
    height: 100%;
}
.painting-title {
     font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-weight: 700;
    color: #c0a066;
}
#nissan {
    background: url(../img/nissan.jpg) center top no-repeat;
    height: 100%;
}
#artcar {
    background: url(../img/artcar.jpg) center top no-repeat;
    height: 100%;
}
#f1 {
    background: url(../img/racing.jpg) center top no-repeat;
    height: 100%;
}
#zafco {
    background: url(../img/jafco.jpg) center top no-repeat;
    width: 100%;
}
.press-buttons {
    padding: 10px 10px;
}
.press-buttons-list li {
    width: 100px;
    padding: 5px 5px;
    border-bottom: 2px solid #ffffff;
    /*background: rgba(255,255,255, 0.7);*/
    display: inline;
    border-radius: 3px;
    color: #696969;
    font-size: 14px;
}
.press-buttons-list li:first-child {
    margin-left: 1.5em;
}
.press-buttons-list li:hover {
    background: #ffffff;
}
.press-buttons-list .special-news {
    color: #000;
    font-weight: 700;
}
#nissan .sixtysix-description {
    background-color: rgba(255,255,255,0.7);
}
.emirati-title {
    text-align: center;
    padding-top: 5px;
}
.emirati-title .painting-title {
    color: #1e1590;
    font-size: 12px;
    padding: 5px 0;
}

/*Gallery Page*/
/*Section One - Gallery Summary*/
#active {
    color: #c0a066;
}
.gallery-landingpage {
    background-color: #000;
    padding-bottom: 60px;
}
.gallery-landingpage .ref02 {
    padding: 15px;
}
.gallery-landingpage .title {
    color: #ffffff;
    text-align: center;
    padding: 0;
}
.gallery-landingpage .ref02,
#email-howdy {
    color: #ccc;
}
#email-howdy {
    font-weight: 300;
}
#email-howdy:hover {
    color: #c0a066;
}
.gallery-landingpage .text {
    padding: 4em 0;
    color: #c0a066;
    line-height: 1.5;
}
.company-logos .collectors {
    text-align: left;
    line-height: 2;
    width: 600px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #000;
    padding: 2em 0;
}
.collectors li {
    list-style: disc;
}
/*Section Two - Gallery USA*/
#usa {
    background: url(../img/usa.jpg) center top no-repeat;
}
#usa .wasel-story {
    height: 250px;
}
.gallery {
    padding-bottom: 0;
    height: 725px;
}
.gallery .sub-title,
.gallery .writer {
    text-align: center;
    color: #ffffff;
}
.gallery .writer {
    font-weight: 300;
    padding: 6em 0;
}
.final {
    min-height: 600px;
    background-color: #ffffff;
    padding-bottom: 3em;
}
.final-kenya,
.final-china,
.final-germany,
.final-singa,
.final-usa {
    min-height: 750px;
    padding-bottom: 6em;
}

.futurico-theme.slider-wrapper-a {
    position: relative;
    top: 5em;
    width: 480px;
    height: 717px;
    margin: auto;
}
.futurico-theme.slider-wrapper-b {
    position: relative;
    top: 5em;
    width: 717px;
    height: 717px;
    margin: auto;
}
.futurico-theme #slider-a {
    position: relative;
    width: 717px;
    height: 717px;
}
.futurico-theme #slider-a img {
    display: none;
    width: 717px;
    height: 717px;
}
.futurico-theme #slider-d,
.futurico-theme #slider-e,
.futurico-theme #slider-f,
.futurico-theme #slider-b {
    position: relative;
    width: 480px;
    height: 717px;
}
.futurico-theme #slider-e img,
.futurico-theme #slider-d img,
.futurico-theme #slider-f img,
.futurico-theme #slider-b img {
    display: none;
    width: 480px;
    height: 717px;
}

.futurico-theme.slider-wrapper {
    position: relative;
    top: 5em;
    width: 717px;
    height: 480px;
    margin: auto;
}
.futurico-theme .nivoSlider {
    position: relative;
    width: 717px;
    height: 480px;
}
.futurico-theme .nivoSlider img {
    display: none;
    width: 717px;
    height: 480px;
}
.futurico-theme .nivo-directionNav a {
    display: block;
    top: 70px;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Garamond W01',georgia, serif;*/
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    font-size: 60px;
    background-color: #ffffff;
    color: rgba(0,0,0, .4);
    z-index: 10;
}
.futurico-theme a.nivo-prevNav { 
    left: 0px; 
    top: 3.5em;
}
.futurico-theme a.nivo-nextNav { 
    right: 0px; 
    top: 3.5em;
}
.futurico-theme .nivo-caption {
    padding: 5px;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: #565656;
    background: #ffffff;
    text-align: center;
}
 
.futurico-theme .nivo-caption span {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px 1px 5px;
    color: red;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.futurico-theme .nivo-caption em {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 300;
    background-color: #ffffff;
}
.wasel-story {
    position: absolute;
    bottom: 0;
    left: 31%;
    width: 500px;
    background-color: rgba(255,255,255,0.6);
    margin: auto;
    vertical-align: baseline;
}
.story-text {
    text-align: left;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #000;
    padding: 20px;
    line-height: 1.5;
    font-weight: 400;
}
#singapore {
    background: url(../img/singapore.jpg) center top no-repeat;
    padding-top: 4em;
}
#singapore .writer {
    padding-top: 12em;
    padding-bottom: 2em;
}
#singapore .wasel-story {
    height: 265px;
}
#uae {
    background: url(../img/uae.jpg) center top no-repeat;
}
#germany {
    background: url(../img/germany01.jpg) center top no-repeat;
}
#germany .writer {
    padding-top: 3em;
    padding-bottom: 12em;
}
#china {
    background: url(../img/china01.jpg) center top no-repeat;
}
#china {
    padding: 4em 0;
    height: 400px
}
#china .writer {
    padding-top: 1em;
    padding-bottom: 3em;
}
#kenya {
    background: url(../img/kenya01.jpg) center top no-repeat;
}
#kenya .writer {
    padding: 1em 0;
}
#czech {
    padding-top: 3.5em;
    background: url(../img/czech.jpg) center top no-repeat;
}
.slidedown {
    width: 100px;
    height: 20px;
    margin: auto;
    border-bottom: 1px dotted rgba(255,255,255,0.3);
    padding: 5px;
    /*background-color: rgba(0,0,0,0.4)*/
}
/*.story-button {
    color: rgba(255,255,255,0.7);
    text-align: center;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.story-button:hover {
    color: #ffffff;
    font-weight: 700;
}
.fa-times-circle {
    color: #000;
}
.fa-times-circle:hover {
    color: #ffffff;
}
*/
.embedcontact {
    padding-top: 3em;
    margin: auto;
    max-width: 600px;
}

/*Media Query: max-width 768 & min-width 600*/
/*@media screen and (max-width: 768px) and (min-width: 600px)*/ 
@media screen and (max-width: 768px) {
   
    .logo-hover .home {
        opacity: 0;
    }
    .logo {
    left: 48%;
    }
     #main-header ul {
        height: 6em;
    }
    .header a,
    .underline a {
        position: relative;
        top: 50px;
        bottom: 5px;
        margin: 0 15px;
    }
    h1 {
        padding-left: 1em;
    }
    h2 {
        font-size: 2.5em;
    }
    .service-type{
        width: 100%;
        overflow: hidden;
    }
    .types {
        width: 300px;
        display: none;
    }
    .types-mobile {
        display: block;
        margin: auto;
        overflow: hidden;
    }
    .types-mobile li {
        padding: 2em 0;
    }
    .original-mobile .buttons{
        background: url(../img/currentwork02.jpg)center top no-repeat;
    }
    .commission-mobile .buttons {
        background: url(../img/comission02.jpg)center top no-repeat;
    }
   .buttons {
        margin: auto;
        width: 250px;
        height: 100px;
        border-radius: 5px;
        z-index: 10;
         text-align: center;
         box-shadow: 10px 10px 5px rgba(0,0,0,0.2)
    }
    .commission-mobile .buttons a {
        color:#ffffff;
    }
    .buttons a {
        color: #000;
        font-size: 24px;
        position: relative;
        top: 30px;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        -webkit-font-smoothing: antialiased;
        font-weight: 300;
        cursor: pointer;
    }
    .buttons a:hover {
        color: #c0a066;
    }
    
    .prints-mobile .buttons {
        background: url(../img/prints02.png)center top no-repeat; 
    }
    #services .text {
        padding-bottom: 3em;
    }
    hr,
    .wasel-quote .pullquote {
        display: none;
    }
    .bio {
        padding: 0;
    }
    .wasel-quote {
        position: relative;
        top: 8em;
    }
     .embedcontact {
        width: 500px;
    }
}

/*Media Query: max-width 480 */
@media screen and (max-width: 580px) and (min-width: 320px){
    #main-nav {
        display: none;
    }
    h1 {
        padding: 0;
        position: relative;
        top: 5em;
        text-align: center;
    }
    .four {
        background: url(../img/artist01-small.jpg)left top no-repeat; );
    }
    #news {
        display: none;
    }
    .embedcontact {
        padding-left: 1em;
        max-width: 300px;
    }
     .contact-info {
        width: 100%;
    }
   #services .text,
   #mission .text {
    width: 80%;
   }
   h2 {
    width: 90%;
    text-align: center;
   }
   .wasel-quote {
    padding: 0.9em;
   }
   .contact-info li {
    display: block;
    padding: 0;
    font-size: 1.2em;
    }
    #main-header ul > li {
    display: block;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px; 
    font-weight: 400;
    background-color: red;
}
.header a,
.underline a {
    margin: 0 20px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    position: relative; 
    display: none;
}
#main-header ul > li > span.underline a {
    border-bottom: 1px solid #ffffff; 
}
.header a:active,
.underline a:active {
    color: #c0a066;
}
}